<header class="mdc-top-app-bar">
  <div class="mdc-top-app-bar__row">
    <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
      <button class="material-icons mdc-top-app-bar__navigation-icon mdc-icon-button">menu</button>
      <span class="mdc-top-app-bar__title">Title</span>
    </section>
    <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end" role="toolbar">

      <button class="material-icons mdc-top-app-bar__action-item mdc-icon-button" aria-label="Print this page"><i
          class="material-icons">
          https
        </i></button>
    </section>
  </div>
</header>